* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

button {
  background-color: #fff;
  font-family: "Alata", sans-serif;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

img {
  max-width: 100%;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
