.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.plpr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.heading {
  display: flex;
  justify-content: space-between;
}
