.account {
  display: grid;
  grid-template-columns: 180px 1fr 300px;
  gap: 2rem;

  &__container {
    padding: 8rem;
    background: linear-gradient(to right, $LimeGreen, $BrightCyan);
  }

  &__wrapper {
    padding: 2rem;
    background-color: #ffc8dd7c;
    border-radius: 2rem;
  }

  &__left {
    background-color: $White;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      padding-top: 7rem;
      img {
        margin-bottom: 12rem;
      }
      ul {
        text-align: left;
        li {
          display: flex;
          // align-items: center;
          // justify-content: center;
          margin-bottom: 4rem;
          font-size: 1.4rem;
          cursor: pointer;
          color: $GrayishBlue;

          &:hover,
          &:active {
            color: $LimeGreen;
          }

          span {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }

  &__middle {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
    }

    &__top {
      ul {
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 3rem 4rem;
        background-color: $White;
        border-radius: 2rem;
        text-align: center;

        li {
          color: $GrayishBlue;
          cursor: pointer;
          font-size: 1.2rem;

          &:hover,
          &:active {
            color: $LimeGreen;
          }

          span {
            display: block;
          }
        }
      }
    }

    &__middle {
      margin-top: 6rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      &-left {
        grid-column: 1/2;
        background-color: $DarkBlue;
        border-radius: 1.4rem;
        padding: 2rem 1.8rem;
        text-align: center;
        color: $VeryLightGray;

        h2 {
          margin-bottom: 1.6rem;
        }
        h1 {
          font-size: 3.5rem;
          margin-bottom: 1.2rem;
        }

        p {
          display: inline-flex;
          background-color: #0de55c8e;
          padding: 0.4rem;
          border-radius: 0.4rem;
        }
      }

      &-right {
        grid-column: 2/-1;
        background: linear-gradient(to top right, $GrayishBlue, $White);
        border-radius: 1.4rem;
        padding: 2rem 4rem;

        p {
          width: 65%;
          color: $DarkBlue;
          margin-bottom: 1rem;
        }

        &-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .fg {
            font-size: 8rem;
          }

          .cg {
            font-size: 4rem;
            cursor: pointer;

            &:hover {
              color: $White;
            }
          }
        }
      }
    }

    &__bottom {
      margin-top: 4rem;
      background-color: $White;
      height: max-content;
      height: 30rem;
      border-radius: 1.4rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  &__right {
    background-color: $White;
    border-radius: 2rem;

    &__top {
      display: flex;
      padding: 5rem 2rem;
      justify-content: space-between;
      align-items: center;

      &-bell {
        font-size: 1.6rem;
        color: $GrayishBlue;
        padding: 0.4rem 0.6rem;
        border: 0.5px solid $GrayishBlue;
        border-radius: 50%;
        object-position: center;
        cursor: pointer;
      }

      img {
        width: 5rem;
        height: 5rem;
        border: 2px solid $GrayishBlue;
        border-radius: 50%;
        object-fit: cover;
      }

      &-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 0.5rem;

        p {
          font-size: 1.4rem;
          color: $DarkBlue;
        }

        h2 {
          font-size: 1.8rem;
          color: $DarkBlue;
        }

        .card {
          font-size: 2.5rem;
          color: $LimeGreen;
          cursor: pointer;
          transition: all 0.4s linear;
          margin-bottom: 4rem;

          &:hover {
            color: $DarkBlue;
          }
        }
      }

      &-list {
        padding: 0 1rem;

        .money {
          display: grid;
          align-items: center;
          border-bottom: 0.5px solid #e3e2e2;
          padding: 0.5rem;
          grid-template-columns: repeat(2, 1fr);

          &__number {
            color: $DarkBlue;

            p {
              font-size: 1rem;
            }

            h3 {
              margin-bottom: 0.8px;
              font-size: 1.4rem;
            }
          }

          &__balance {
            justify-self: center;
            color: $GrayishBlue;

            p {
              font-size: 1rem;
            }

            span {
              color: $LimeGreen;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
