.account {
  display: grid;
  grid-template-columns: 180px 1fr 300px;
  gap: 2rem;

  &__container {
    padding: 6rem;
    background: linear-gradient(to right, $LimeGreen, $BrightCyan);
  }

  &__wrapper {
    padding: 2rem;

    background-color: #ffc8dd7c;
    border-radius: 2rem;
  }

  &__left {
    background-color: $White;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      padding-top: 7rem;
      img {
        margin-bottom: 12rem;
      }
      ul {
        text-align: center;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 4rem;
          font-size: 1.4rem;
          cursor: pointer;
          color: $GrayishBlue;

          &:hover,
          &:active {
            color: $LimeGreen;
          }

          span {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }

  &__middle {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
    }

    &__top {
      ul {
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 3rem 4rem;
        background-color: $White;
        border-radius: 2rem;
        text-align: center;

        li {
          color: $GrayishBlue;
          cursor: pointer;
          font-size: 1.2rem;

          &:hover,
          &:active {
            color: $LimeGreen;
          }

          span {
            display: block;
          }
        }
      }
    }

    &__middle {
      margin-top: 6rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      &-left {
        grid-column: 1/2;
        background-color: $DarkBlue;
        border-radius: 1.4rem;
        padding: 2rem 1.8rem;
        text-align: center;
        color: $VeryLightGray;

        h2 {
          margin-bottom: 1.6rem;
        }
        h1 {
          font-size: 3.5rem;
          margin-bottom: 1.2rem;
        }

        p {
          display: inline-flex;
          background-color: #0de55c8e;
          padding: 0.4rem;
          border-radius: 0.4rem;
        }
      }

      &-right {
        grid-column: 2/-1;
        background-color: $White;
        border-radius: 1.4rem;
      }
    }
  }

  &__right {
    background-color: $White;
    border-radius: 2rem;
  }
}
