.cta {
  margin-top: -160px;
  background-color: $LightGrayishBlue;
  padding-bottom: 8rem;

  &__text {
    padding: 7rem 0;
    width: 54rem;

    &-heading {
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 1.4rem;
      color: $DarkBlue;
    }

    &-paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      color: $GrayishBlue;
      margin-bottom: 1.6rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 3.4rem;
    &__items {
      &-icon {
        margin-bottom: 1.8rem;
      }
      &-heading {
        margin-bottom: 1.8rem;
        font-size: 3rem;
        font-weight: 300;
        color: $DarkBlue;
      }
      &-paragraph {
        font-size: 1.6rem;
        font-weight: 300;
        color: $GrayishBlue;
      }
    }
  }
}
