.footer {
  background-color: $DarkBlue;
  color: $VeryLightGray;
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;

  &__left {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    &-left {
      &-logo {
        margin-bottom: 3rem;
      }
      &-icons {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
    }

    &-middle {
      li {
        margin-bottom: 1rem;
      }
      a {
        color: $LightGrayishBlue;
      }
    }
    &-right {
      li {
        margin-bottom: 1rem;
      }
      a {
        color: $LightGrayishBlue;
      }
    }
  }

  &__right {
    &__buttons {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-end;
      &-register {
        color: $VeryLightGray;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0.8rem 2rem;
        background: linear-gradient(to right, $LimeGreen, $BrightCyan);
        border-radius: 999rem;
      }
    }

    &-copyright {
      font-size: 1.5rem;
      color: $GrayishBlue;
    }
  }
}
